{% extends 'base.html.twig' %}

{% block title %}Edit ProductSerialized{% endblock %}

{% block body %}

    <div class="container">
        <h1>{{ productsSerialized.name }}</h1>

            {{ form_start(form) }}
        {{ form_widget(form) }}
        <div class="d-grid gap-2 d-md-block">
        <button class="btn btn-dark btn-sm">{{ button_label|default('Enregistrer') }}</button>
            {{ form_end(form) }}
            <a class="btn btn-dark btn-sm" href="{{ path('productSerialized') }}">Retour</a>

        </div>
    </div>

{#        {{ include('product_serialized/_delete_form.html.twig') }}#}

{% endblock %}
