    <h2 class="title end">stock
        <i class="fa-solid fa-cube" style="color: #383d4b;"></i>
    </h2>

    <table class="table">
        <thead>
            <tr>
                <th class="center"></th>
                <th class="start">Qté</th>
                <th class="little-cells">Marque</th>
                <th class="little-cells">Désignation</th>
                <th class="little-cells">Référence</th>
                <th class="little-cells">Entrée en stock</th>
            </tr>
        </thead>
        {% for product in products %}
            <tbody>
            {% if product.quantity <= 3 %}
                <tr>
                    <td class="center">
                        <i class="fa-solid fa-circle-exclamation danger"></i>
                    </td>
                    <td class="start">{{ product.quantity }},00</td>
                    <td>{{ product.brand | upper }}</td>
                    <td>{{ product.name | upper }}</td>
                    <td>{{ product.reference | upper }}</td>
                    <td>{{ product.addedAt ? product.addedAt|date('Y-m-d') }}</td>
                </tr>
            {% endif %}
            </tbody>
        {% endfor %}
    </table>
