{% for product in products %}
    {% if product.quantity > 0 %}
        <tr>
            <td class="text-center">{{ product.quantity }}</td>
            <td class="text-center">{{ product.brand | title }}</td>
            <td class="text-center">{{ product.name | title }}</td>
            <td class="text-center">{{ product.reference }}</td>
            <td class="text-center">{{ product.serialNumber }}</td>
            <td class="text-center">{{ product.addedAt ? product.addedAt|date('Y-m-d') }}</td>
            <td class="text-end me-0">
                <button class="btn btn-outline-warning">
                    <i class="fa-regular fa-lightbulb">
                        {{ path('edit_product', {'id': product.id}) }}
                    </i>
                </button>
            </td>
            <td class="text-start ms-0">{{ include('product/_delete_form.html.twig') }}</td>
        </tr>
    {% endif %}
{% endfor %}

    {% include 'layout/modal/_modal_add.html.twig' %}
