{% for product in products %}
    {% if product.quantity > 0 %}
        <tr>
            <td class="text-center">{{ product.quantity }}</td>
            <td class="text-center">{{ product.brand | title }}</td>
            <td class="text-center">{{ product.name | title }}</td>
            <td class="text-center">{{ product.reference }}</td>
            <td class="text-center">{{ product.serialNumber }}</td>
            <td class="text-center">{{ product.addedAt ? product.addedAt|date('d/m/y') }}</td>
            <td class="text-end me-0">
                <button class="btn btn-outline-warning">
                    <a class="text-decoration-none" href="{{ path('edit_product', {'id': product.id}) }}">
                        <i class="fa-regular fa-pen-to-square"></i>
                    </a>
                </button>
            </td>
            <td class="text-start ms-0">{{ include('product/_delete_form.html.twig') }}</td>
        </tr>
    {% endif %}
{% endfor %}

    {% include 'layout/modal/_modal_add.html.twig' %}
