{% extends 'base.html.twig' %}

{% block title %}HORS-STOCK{% endblock %}

{% block body %}

    <div class="container-fluid mt-5 p-5">
        <h2 class="pb-4 text-start font-bold font-up deep-purple-text"> 📤 HORS-STOCK</h2>

        {% include 'out_of_stock/_form.html.twig' %}

        <div class="rounded rounded-3 overflow-hidden">
            <table class="table border border-1 shadow-sm table-hover">
                <thead style="background-color: lightgray;">
                <tr>
                    <th class="text-center">Quantité</th>
                    <th class="text-center">Marque</th>
                    <th class="text-center">Désignation</th>
                    <th class="text-center">Référence</th>
                    <th class="text-center">Entrée en stock</th>
                    <td class="text-center fw-bold" colspan="2">Actions</td>
                </tr>
                </thead>
                {% for out_of_stock in out_of_stocks %}
                    <tbody>
                    <tr>
                        <td class="text-center">{{ out_of_stock.quantity }}</td>
                        <td class="text-center">{{ out_of_stock.brand|capitalize }}</td>
                        <td class="text-center">{{ out_of_stock.name }}</td>
                        <td class="text-center">{{ out_of_stock.reference }}</td>
                        <td class="text-center">{{ out_of_stock.addedAt ? out_of_stock.addedAt|date('d/m/Y') }}</td>
                        <td class="text-center"><a class="btn btn-dark"
                                                   href="{{ path('edit_out_of_stock', {'id': out_of_stock.id}) }}">Modifier</a>
                        <td class="text-center">{{ include('out_of_stock/_delete_form.html.twig') }}</td>
                    </tr>
                    </tbody>
                {% endfor %}
            </table>
        </div>
    </div>

{% endblock %}
