<div class="container-fluid text-center">
    {{ form_start(form) }}
    <div class="row mb-3 flex align-items-start justify-content-center">
        <div class="col mb-3">{{ form_row(form.quantity, {'attr': { 'class': 'rounded-3 p-2 mb-5' }}) }}</div>
        <div class="col">{{ form_row(form.brand, {'attr': { 'class': 'rounded-3  p-2' }}) }}</div>
        <div class="col">{{ form_row(form.name, {'attr': { 'class': 'rounded-3  p-2' }}) }}</div>
        <div class="col">{{ form_row(form.reference, {'attr': { 'class': 'rounded-3  p-2' }}) }}</div>
        <div class="col">{{ form_row(form.serial_number, {'attr': { 'class': 'rounded-3  p-2' }}) }}</div>
        <button class="col btn btn-dark">{{ button_label|default('Valider') }}</button>
    </div>
    {{ form_end(form) }}
</div>
