{% extends 'base.html.twig' %}

{% block title %}Product index{% endblock %}

{% block body %}
   <div class="container">
       <h1>Product index</h1>

       <table class="table">
           <thead>
           <tr>
               <th>Quantity</th>
               <th>Name</th>
               <th>Reference</th>
               <th>Serial_number</th>
               <th>AddedAt</th>
               <th>actions</th>
           </tr>
           </thead>
           <tbody>
           {% for products in product %}
               <tr>
                   <td>{{ products.quantity }}</td>
                   <td>{{ products.name }}</td>
                   <td>{{ products.reference }}</td>
                   <td>{{ products.serialNumber }}</td>
                   <td>{{ products.addedAt|date('Y-m-d') }}</td>
                   <td>
                       <a href="{{ path('edit_product', {'id': products.id}) }}">edit</a>
                   </td>
               </tr>
           {% else %}
               <tr>
                   <td colspan="7">no records found</td>
               </tr>
           {% endfor %}
           </tbody>
       </table>

       <a href="{{ path('new_product') }}">Create new</a>
   </div>
{% endblock %}
