{% extends 'base.html.twig' %}

{% block title %}STOCK{% endblock %}

{% block body %}

    {% include 'layout/_toast.html.twig' %}

    {% include 'layout/_tabs.html.twig' %}

    <div class="container mt-5">

        <div class="d-flex flex-row align-items-center justify-content-start mb-4">
            <h2 class="text-start font-bold font-up me-3">
                <button type="button" class="btn btn-outline-dark btn-sm" data-bs-toggle="modal"
                        data-bs-target="#addModal">
                    📦 Ajout de stock
                </button>
            </h2>
        </div>

        <div class="form-check form-switch mb-3">
            <input class="form-check-input" type="checkbox" id="hideZeroCheckbox">
            <label class="form-check-label" for="hideZeroCheckbox">Masquer les produits en rupture</label>
        </div>

        {% for flashMessage in app.session.flashbag.get('success') %}
            <div class="alert alert-success">
                {{ flashMessage }}
            </div>
        {% endfor %}

        <table class="table table-hover">
            <thead>
                <tr>
                    <th class="text-start">Qté</th>
                    <th style="width: 20%">Marque</th>
                    <th style="width: 20%">Désignation</th>
                    <th style="width: 20%">Référence</th>
                    <th style="width: 20%">Numéro de série</th>
                    <th style="width: 20%">Entrée en stock</th>
                    <th class="text-center fw-bold" colspan="2">Actions</th>
                </tr>
            </thead>
            <tbody>
            {% for product in products %}
                <tr {% if product.quantity == 0 %}class="zero-quantity"{% endif %}>
                    <td class="text-start">{{ product.quantity }},00</td>
                    <td>{{ product.brand | title }}</td>
                    <td>{{ product.name | title }}</td>
                    <td>{{ product.reference }}</td>
                    <td>{{ product.serialNumber }}</td>
                    <td>{{ product.addedAt ? product.addedAt|date('d/m/Y') }}</td>
                    <td class="text-end me-0 d-flex align-items-center justify-content-evenly">
                        <button class="btn btn-outline-dark btn-sm me-2"
                                onclick="copyToClipboard(this)">
                            <i class="fa-regular fa-copy"></i>
                        </button>
                        <button class="btn btn-outline-dark btn-sm me-2">
                            <a class="text-decoration-none" href="{{ path('edit_supply', {'id': product.id}) }}">
                                <i class="fa-regular fa-pen-to-square"></i>
                            </a>
                        </button>
                        {{ include('product/_delete_form.html.twig') }}
                    </td>
                </tr>
            {% endfor %}

            {% include 'layout/modal/_modal_add_product.html.twig' %}

            </tbody>
        </table>
    </div>

    {% include 'layout/script/export.html.twig' %}

    {% include 'layout/script/clipboard.html.twig' %}

    <div class="pagination">
        {{ knp_pagination_render(products) }}
    </div>

{% endblock %}