{% extends 'base.html.twig' %}

{% block title %}STOCK{% endblock %}

{% block body %}

    {% include 'layout/tabs.html.twig' %}

    <div class="container mt-5">

        <div class="d-flex flex-row align-items-center justify-content-start mb-4">
            <h2 class="text-start font-bold font-up deep-purple-text me-3">
                <button type="button" class="btn btn-outline-dark btn-sm" data-bs-toggle="modal"
                        data-bs-target="#addModal">
                    📦 Ajout de stock
                </button>
            </h2>
        </div>

        <div class="form-check form-switch mb-3">
            <input class="form-check-input" type="checkbox" id="hideZeroCheckbox">
            <label class="form-check-label" for="hideZeroCheckbox">Masquer les produits en rupture</label>
        </div>

        <table class="table table-bordered table-hover">
            <thead>
            <tr>
                <th class="text-center">Qté</th>
                <th class="text-center">Marque</th>
                <th class="text-center">Désignation</th>
                <th class="text-center">Référence</th>
                <th class="text-center">Numéro de série</th>
                <th class="text-center">Entrée en stock</th>
                <td class="text-center fw-bold" colspan="2">Actions</td>
            </tr>
            </thead>
            <tbody>
            <tr>
                {% for product in products %}
            <tr {% if product.quantity == 0 %}class="zero-quantity"{% endif %}>
                <td class="text-center">{{ product.quantity }}</td>
                <td class="text-center">{{ product.brand | title }}</td>
                <td class="text-center">{{ product.name | title }}</td>
                <td class="text-center">{{ product.reference }}</td>
                <td class="text-center">{{ product.serialNumber }}</td>
                <td class="text-center">{{ product.addedAt ? product.addedAt|date('d/m/y') }}</td>
                <td class="text-end me-0">
                    <span class="d-flex align-items-center justify-content-around">
                        <button class="btn btn-outline-warning btn-sm">
                        <a class="text-decoration-none" href="{{ path('edit_product', {'id': product.id}) }}">
                            <i class="fa-regular fa-pen-to-square"></i>
                        </a>
                    </button>
                    {{ include('product/_delete_form.html.twig') }}
                    </span>
                </td>
            </tr>
            {% endfor %}

            {% include 'layout/modal/_modal_add.html.twig' %}

            </tbody>
        </table>
        <div class="d-flex align-items-end justify-content-end">
            <a href="{{ path('export_pdf') }}" target="_blank" class="btn btn-outline-black btn-sm">📄 Export PDF</a>
        </div>
    </div>

    {% include 'layout/script/export.html.twig' %}

{% endblock %}
