{% extends 'base.html.twig' %}

{% block body %}

    {% include 'layout/_toast.html.twig' %}

    {% include 'layout/_tabs.html.twig' %}

    <div class="p-4">

        {% include '/layout/taskbars/_product_taskbar.html.twig' %}

        <div id="loading-overlay" class="loading" style="display: none;">
            <div class="spinner d-flex align-items-center justify-content-center"></div>
            <h2 class="center">Chargement en cours...</h2>
        </div>

        <table class="table table-hover" style="display: none;">
            <thead>
            <tr>
                <th class="xs-cells center" id="quantity-header">
                    <i class="fas fa-sort"></i>
                    Qté
                </th>
                <th class="s-cells" id="brand-header">
                    <i class="fas fa-sort"></i>
                    Marque
                </th>
                <th class="m-cells" id="name-header">
                    <i class="fas fa-sort"></i>
                    Désignation
                </th>
                <th class="s-cells center" id="reference-header">
                    Référence
                </th>
                <th class="s-cells center" id="serial-number-header">
                    Numéro de série
                </th>
                <th class="s-cells center" id="added-at-header">
                    <i class="fas fa-sort"></i>
                    Date
                </th>
                <th class="s-cells"></th>
            </tr>
            </thead>
            <tbody id="table-body">
            {% for product in products %}
                <tr data-product-id="{{ product.id }}" id="spinner-row"
                    {% if product.quantity > 5 %}class="zero-quantity"{% endif %}>
                    <td class="center">{{ product.quantity }},00</td>
                    <td>{{ product.brand | title }}</td>
                    <td>{{ product.name | title }}</td>
                    <td class="center">{{ product.reference }}</td>
                    <td class="center">{{ product.serialNumber }}</td>
                    <td class="center">{{ product.addedAt ? product.addedAt|date('d/m/Y') }}</td>
                    <td>
                        <div class="d-flex align-items-center justify-content-center">
                            <button class="btn btn-outline-info btn-sm me-2">
                                <a class="text-decoration-none" href="{{ path('product_show', {'id': product.id }) }}">Detail</a>
                            </button>
                            <form action="{{ path('delete_product', {'id': product.id}) }}" method="POST">
                                <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ product.id) }}">
                                <input type="number" name="quantity" min="1" required>
                                <button type="submit">Supprimer</button>
                            </form>

                            {# {% include 'product/_delete_form.html.twig' %} #}
                        </div>
                    </td>
                </tr>
            {% endfor %}

            {% include 'layout/modal/_modal_add_product.html.twig' %}

            </tbody>
        </table>

        <div class="pagination disable">
            {{ knp_pagination_render(products) }}
        </div>

    </div>

    {{ encore_entry_script_tags('spinner') }}
    {{ encore_entry_script_tags('filter') }}
    {{ encore_entry_script_tags('select') }}

{% endblock %}
