{% extends 'base.html.twig' %}

{% block body %}

    {% include 'layout/_toast.html.twig' %}

    {% include 'layout/_tabs.html.twig' %}

    <div class="p-4">

        {% include '/layout/taskbar/_product_taskbar.html.twig' %}

        <div id="loading-overlay" class="loading" style="display: none;">
            <div class="spinner d-flex align-items-center justify-content-center"></div>
            <h2 class="center">Chargement en cours...</h2>
        </div>

        <table class="table table-hover" style="display: none;">
            <thead>
            <tr>
                <th class="xs-cells center" id="quantity-header">
                    <i class="fas fa-sort"></i>
                    Qté
                </th>
                <th class="s-cells" id="brand-header">
                    <i class="fas fa-sort"></i>
                    Marque
                </th>
                <th class="m-cells" id="name-header">
                    <i class="fas fa-sort"></i>
                    Désignation
                </th>
                <th class="s-cells" id="name-header">
                    Numero de série
                </th>
                <th class="s-cells center" id="reference-header">
                    Référence
                </th>
                <th class="s-cells center" id="added-at-header">
                    <i class="fas fa-sort"></i>
                    Date
                </th>
                <th class="s-cells"></th>
            </tr>
            </thead>
            <tbody id="table-body">
            {% for product in products %}
                <tr data-product-id="{{ product.id }}" id="spinner-row"
                    {% if product.quantity > 5 %}class="zero-quantity"{% endif %}>
                    <td class="center">{{ product.quantity }},00</td>
                    <td>{{ product.brand | title }}</td>
                    <td>{{ product.name | title }}</td>
                    {% if product.serialNumber %}
                        <td>{{ product.serialNumber }}</td>
                    {% else %}
                        <td>--</td>
                    {% endif %}
                    <td class="center">{{ product.reference }}</td>
                    <td class="center">{{ product.addedAt ? product.addedAt|date('d/m/Y') }}</td>
                    <td>
                        <div class="d-flex align-items-center justify-content-center">
                            <button id="detailButton" class="btn btn-sm me-2">
                                <a class="text-decoration-none" style="color: black;"
                                   href="{{ path('product_show', {'id': product.id }) }}">
                                    <i class="fa-solid fa-circle-info" style="color: #b3cfff;"></i>
                                    Détails
                                </a>
                            </button>
                            <button class="toggleButton btn btn-sm">
                                <i class="fa-regular fa-trash-can" style="color: #ff0000;"></i>
                                Supprimer
                            </button>
                            <div class="champCible" style="display: none;">
                                <form action="{{ path('delete_product', {'id': product.id}) }}" method="POST">
                                    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ product.id) }}">
                                    <input type="number" name="quantity" min="0 " required style="width: 40px;">
                                    <button class="btn btn-outline-danger btn-sm ms-2" type="submit">
                                        <i class="fa-regular fa-trash-can"></i>
                                    </button>
                                </form>
                            </div>
                            <button class="cancelButton btn btn-outline-dark btn-sm ms-2" style="display: none;">
                                <i class="fa-solid fa-xmark"></i>
                            </button>
                        </div>
                    </td>
                </tr>
            {% endfor %}


            {% include 'layout/modal/_modal_add_product.html.twig' %}

            </tbody>
        </table>

        <div class="pagination disable">
            {{ knp_pagination_render(products) }}
        </div>

    </div>

    {{ encore_entry_script_tags('spinner') }}
    {{ encore_entry_script_tags('filter') }}
    {{ encore_entry_script_tags('select') }}

    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script>
        $(document).ready(function () {
            $('.toggleButton').click(function () {
                var container = $(this).closest('tr');
                var toggleButton = $(this);
                var cancelButton = container.find('.cancelButton');
                var champCible = container.find('.champCible');
                var detailButton = container.find('.btn-outline-info'); // Modified line

                champCible.show();
                toggleButton.hide();
                cancelButton.show();
                detailButton.hide();
            });

            $('.cancelButton').click(function () {
                var container = $(this).closest('tr');
                var toggleButton = container.find('.toggleButton');
                var cancelButton = $(this);
                var champCible = container.find('.champCible');
                var detailButton = container.find('.btn-outline-info'); // Modified line

                champCible.hide();
                cancelButton.hide();
                toggleButton.show();
                detailButton.show();
            });
        });
    </script>

{% endblock %}
