{% extends 'base.html.twig' %}

{% block title %}STOCK{% endblock %}

{% block body %}

    {% include 'layout/_toast.html.twig' %}

    {% include 'layout/_tabs.html.twig' %}

    <div class="container">

        <div class="title">
            <h2 class="start me-3">
                <button type="button" class="btn btn-outline-dark btn-sm" data-bs-toggle="modal"
                        data-bs-target="#addModal">
                    📦 Ajout de stock
                </button>
            </h2>
        </div>

        <div class="export">
            <a href="{{ path('export_product_pdf') }}" target="_blank" class="btn btn-outline-black btn-sm">
                <i class="fa-regular fa-file-pdf"></i>
                Export PDF
            </a>
        </div>

        <div class="form-check form-switch mb-3">
            <input class="form-check-input" type="checkbox" id="hideZeroCheckbox">
            <label class="form-check-label" for="hideZeroCheckbox">Masquer les fournitures en rupture</label>
        </div>

        <div id="loading-overlay" class="loading" style="display: none;">
            <div class="spinner d-flex align-items-center justify-content-center"></div>
            <h2 class="center">Chargement en cours...</h2>
        </div>

        <table class="table table-hover" style="display: none;">
            <thead>
            <tr>
                <th class="start">Qté</th>
                <th class="little-cells">Marque</th>
                <th class="little-cells">Désignation</th>
                <th class="little-cells">Référence</th>
                <th class="little-cells">Numéro de série</th>
                <th class="little-cells">Entrée en stock</th>
{#                <th class="center" colspan="2">Actions</th>#}
            </tr>
            </thead>
            <tbody id="table-body">
            {% for product in products %}
                <tr id="spinner-row" {% if product.quantity > 5 %}class="zero-quantity"{% endif %}>
                    <td class="start">{{ product.quantity }},00</td>
                    <td>{{ product.brand | title }}</td>
                    <td>{{ product.name | title }}</td>
                    <td>{{ product.reference }}</td>
                    <td>{{ product.serialNumber }}</td>
                    <td>{{ product.addedAt ? product.addedAt|date('d/m/Y') }}</td>
{#                    <td class="end me-0 buttons">#}
{#                        <button class="btn btn-outline-dark btn-sm me-2"#}
{#                                onclick="copyToClipboard(this)">#}
{#                            <i class="fa-regular fa-copy"></i>#}
{#                        </button>#}
{#                        <button class="btn btn-outline-dark btn-sm me-2">#}
{#                            <a class="text-decoration-none" href="{{ path('edit_product', {'id': product.id}) }}">#}
{#                                <i class="fa-regular fa-pen-to-square"></i>#}
{#                            </a>#}
{#                        </button>#}
{#                        {{ include('product/_delete_form.html.twig') }}#}
{#                    </td>#}
                </tr>
            {% endfor %}

            {% include 'layout/modal/_modal_add_product.html.twig' %}

            </tbody>
        </table>

        <div class="pagination disable">
            {{ knp_pagination_render(products) }}
        </div>

    </div>

    {{ encore_entry_script_tags('spinner') }}

    <script>
        function redirectToProduct(url) {
            window.location.href = url;
        }
    </script>


{% endblock %}
