{% extends 'base.html.twig' %}

{% block body %}

    {% include 'layout/_toast.html.twig' %}

    {% include 'layout/_tabs.html.twig' %}

    <div class="p-4">

        {% include '/layout/taskbars/_product_taskbar.html.twig' %}

        <div id="loading-overlay" class="loading" style="display: none;">
            <div class="spinner d-flex align-items-center justify-content-center"></div>
            <h2 class="center">Chargement en cours...</h2>
        </div>

        <table class="table table-hover" style="display: none;">
            <thead>
            <tr>
                <th>
                    <div class="form-check d-flex align-items-center justify-content-start">
                        <input class="form-check-input" type="checkbox" id="selectAllCheckbox">
                        <label class="form-check-label" for="selectAllCheckbox"></label>
                    </div>
                </th>
                <th class="start little-cells" id="quantity-header">
                    <i class="fas fa-sort"></i>
                    Qté
                </th>
                <th class="little-cells" id="brand-header">
                    <i class="fas fa-sort"></i>
                    Marque
                </th>
                <th class="little-cells" id="name-header">
                    <i class="fas fa-sort"></i>
                    Désignation
                </th>
                <th class="little-cells" id="reference-header">
                    Référence
                </th>
                <th class="little-cells" id="serial-number-header">
                    Numéro de série
                </th>
                <th class="medium-cells" id="added-at-header">
                    <i class="fas fa-sort"></i>
                    Date
                </th>
            </tr>
            </thead>
            <tbody id="table-body">
            {% for product in products %}
                <tr data-product-id="{{ product.id }}" id="spinner-row"
                    {% if product.quantity > 5 %}class="zero-quantity"{% endif %}>
                    <td>
                        <div class="form-check">
                            <input class="form-check-input" type="checkbox" value="{{ product.id }}"
                                   id="productCheckbox{{ product.id }}">
                            <label class="form-check-label" for="productCheckbox{{ product.id }}"></label>
                        </div>
                    </td>
                    <td class="start">{{ product.quantity }},00</td>
                    <td>{{ product.brand | title }}</td>
                    <td>{{ product.name | title }}</td>
                    <td>{{ product.reference }}</td>
                    <td>{{ product.serialNumber }}</td>
                    <td>{{ product.addedAt ? product.addedAt|date('d/m/Y') }}</td>
                </tr>
            {% endfor %}

            {% include 'layout/modal/_modal_add_product.html.twig' %}

            </tbody>
        </table>

        <div class="pagination disable">
            {{ knp_pagination_render(products) }}
        </div>

    </div>

    {{ encore_entry_script_tags('spinner') }}
    {{ encore_entry_script_tags('filter') }}
    {{ encore_entry_script_tags('select') }}

{% endblock %}
