{% extends 'base.html.twig' %}

{% block body %}

<div class="d-flex align-items-center justify-content-center p-4">
    <div class="card" style="width: 18rem;">
    <img src="https://media.extron.com/public/product/img/prodcat/prodtype09.png" alt="{{ products.name }}">
        <div class="card-body">
            <h5 class="card-title">{{ products.name | title }}</h5>
            <small>{{ products.reference }}</small>
            <p class="card-text">{{ products.description }}</p>
        </div>
    </div>
</div>

    <div class="d-flex align-items-center justify-content-center">
        <a class="text-decoration-none btn btn-dark btn-sm" href="{{ path('product') }}">Retour</a>
    </div>

{% endblock %}