{% extends 'base.html.twig' %}

{% block title %}FOURNITURES{% endblock %}

{% block body %}

    {% include 'layout/_toast.html.twig' %}

    {% include 'layout/tabs.html.twig' %}

    <div class="container mt-5">

        <div class="d-flex flex-row align-items-center justify-content-start mb-4">
            <h2 class="text-start font-bold font-up deep-purple-text me-3">
                <button type="button" class="btn btn-outline-dark btn-sm" data-bs-toggle="modal"
                        data-bs-target="#addModal">
                    📦 Ajout de fournitures
                </button>
            </h2>
        </div>

        <div class="form-check form-switch mb-3">
            <input class="form-check-input" type="checkbox" id="hideZeroCheckbox">
            <label class="form-check-label" for="hideZeroCheckbox">Masquer les fournitures en rupture</label>
        </div>

        <table class="table table-bordered table-hover">
            <thead>
            <tr>
                <th class="text-center">Qté</th>
                <th class="text-center">
                    <i class="fa-regular fa-copyright"></i>
                    Marque
                </th>
                <th class="text-center">
                    <i class="fa-regular fa-hard-drive"></i>
                    Désignation
                </th>
                <th class="text-center">
                    <i class="fa-regular fa-newspaper"></i>
                    Référence
                </th>
                <th class="text-center">
                    <i class="fa-regular fa-calendar-days"></i>
                    Entrée en stock
                </th>
                <td class="text-center fw-bold" colspan="2">
                    <i class="fa-regular fa-hand"></i>
                    Actions
                </td>
            </tr>
            </thead>
            <tbody>
            <tr>
                {% for supply in supplies %}
            <tr {% if supply.quantity == 0 %}class="zero-quantity"{% endif %}>
                <td class="text-center">{{ supply.quantity }}</td>
                <td class="text-center">{{ supply.brand | title }}</td>
                <td class="text-center">{{ supply.name | title }}</td>
                <td class="text-center">{{ supply.reference }}</td>
                <td class="text-center">{{ supply.addedAt ? supply.addedAt|date('d/m/y') }}</td>
                <td class="d-flex align-items-center justify-content-center border-end-0">
                    <button class="btn btn-outline-info btn-sm exclude-from-clipboard" onclick="copyToClipboard(this)">
                        <i class="fa-regular fa-copy"></i>
                        {#                        <small>Copier/coller</small> #}
                    </button>
                </td>
                <td class="text-end me-0">
                    <span class="d-flex align-items-center justify-content-around">
                        <button class="btn btn-outline-warning btn-sm exclude-from-clipboard">
                        <a class="text-decoration-none" href="{{ path('edit_supply', {'id': supply.id}) }}">
                            <i class="fa-regular fa-pen-to-square"></i>
{#                            <small>Éditer</small> #}
                        </a>
                    </button>
                    {{ include('supply/_delete_form.html.twig') }}

                    </span>
                </td>
            </tr>
            {% endfor %}

            {% include 'layout/modal/_modal_add_supply.html.twig' %}

            </tbody>
        </table>
        <div class="d-flex align-items-end justify-content-end">
            <a href="{{ path('export_supply_pdf') }}" target="_blank" class="btn btn-outline-black btn-sm">
                <i class="fa-regular fa-file-pdf"></i>
                Export PDF
            </a>
        </div>
    </div>

    {% include 'layout/script/export.html.twig' %}

    {% include 'layout/script/clipboard.html.twig' %}

{% endblock %}
