{% extends 'base.html.twig' %}

{% block title %}FOURNITURES{% endblock %}

{% block body %}

    {% include 'layout/_toast.html.twig' %}

    {% include 'layout/_tabs.html.twig' %}

    <div class="container mt-5">

        <div class="d-flex flex-row align-items-center justify-content-start mb-4">
            <h2 class="text-start font-bold font-up me-3">
                <button type="button" class="btn btn-outline-dark btn-sm" data-bs-toggle="modal"
                        data-bs-target="#addModal">
                    📦 Ajout de fournitures
                </button>
            </h2>
        </div>

        <div class="d-flex align-items-end justify-content-end">
            <a href="{{ path('export_supply_pdf') }}" target="_blank" class="btn btn-outline-black btn-sm">
                <i class="fa-regular fa-file-pdf"></i>
                Export PDF
            </a>
        </div>

        <div class="form-check form-switch mb-3">
            <input class="form-check-input" type="checkbox" id="hideZeroCheckbox">
            <label class="form-check-label" for="hideZeroCheckbox">Masquer les fournitures en rupture</label>
        </div>

        <table class="table table-hover">
            <thead>
            <tr>
                <th class="text-start">Qté</th>
                <th style="width: 25%">Marque</th>
                <th style="width: 25%">Désignation</th>
                <th style="width: 25%">Référence</th>
                <th style="width: 25%">Entrée en stock</th>
                <th class="text-center fw-bold" colspan="2">Actions</th>
            </tr>
            </thead>
            <tbody>
            {% for supply in supplies %}
                <tr {% if supply.quantity == 0 %}class="zero-quantity"{% endif %}>
                    <td class="text-start">{{ supply.quantity }},00</td>
                    <td>{{ supply.brand | title }}</td>
                    <td>{{ supply.name | title }}</td>
                    <td>{{ supply.reference }}</td>
                    <td>{{ supply.addedAt ? supply.addedAt|date('d/m/y') }}</td>
                    <td class="text-end me-0 d-flex align-items-end justify-content-evenly">
                        <button class="btn btn-outline-dark btn-sm me-2"
                                onclick="copyToClipboard(this)">
                            <i class="fa-regular fa-copy"></i>
                        </button>
                        <button class="btn btn-outline-dark btn-sm me-2">
                            <a class="text-decoration-none" href="{{ path('edit_supply', {'id': supply.id}) }}">
                                <i class="fa-regular fa-pen-to-square"></i>
                            </a>
                        </button>
                        {{ include('supply/_delete_form.html.twig') }}
                    </td>
                </tr>
            {% endfor %}

            {% include 'layout/modal/_modal_add_supply.html.twig' %}

            </tbody>
        </table>
    </div>

    {% include 'layout/script/export.html.twig' %}

    {% include 'layout/script/clipboard.html.twig' %}

{% endblock %}