{% extends 'base.html.twig' %}

{% block body %}

    {% include 'layout/_toast.html.twig' %}

    {% include 'layout/_tabs.html.twig' %}

    <div class="p-4">

        {% include '/layout/taskbar/_supplies_taskbar.html.twig' %}

        <div id="loading-overlay" class="loading" style="display: none;">
            <div class="spinner d-flex align-items-center justify-content-center"></div>
            <h2 class="center">Chargement en cours...</h2>
        </div>

        <table class="table table-hover" style="display: none;">
            <thead>
            <tr>
                <th>
                    <div class="form-check d-flex align-items-center justify-content-start">
                        <input class="form-check-input" type="checkbox" id="selectAllCheckbox">
                        <label class="form-check-label" for="selectAllCheckbox"></label>
                    </div>
                </th>
                <th class="start medium-cells" id="quantity-header">
                    <i class="fas fa-sort"></i>
                    Qté
                </th>
                <th class="medium-cells" id="brand-header">
                    <i class="fas fa-sort"></i>
                    Marque
                </th>
                <th class="medium-cells" id="name-header">
                    <i class="fas fa-sort"></i>
                    Désignation
                </th>
                <th class="medium-cells" id="reference-header">
                    Référence
                </th>
                <th class="medium-cells" id="added-at-header">
                    <i class="fas fa-sort"></i>
                    Date
                </th>
            </tr>
            </thead>
            <tbody id="table-body">
            {% for supply in supplies %}
                <tr data-supply-id={{ supply.id }} id="spinner-row"
                    {% if supply.quantity == 0 %}class="zero-quantity"{% endif %}>
                    <td>
                        <div class="form-check">
                            <input class="form-check-input" type="checkbox" value="{{ supply.id }}"
                                   id="productCheckbox{{ supply.id }}">
                            <label class="form-check-label" for="productCheckbox{{ supply.id }}"></label>
                        </div>
                    </td>
                    <td class="start">{{ supply.quantity }},00</td>
                    <td>{{ supply.brand | title }}</td>
                    <td>{{ supply.name | title }}</td>
                    <td>{{ supply.reference }}</td>
                    <td>{{ supply.addedAt ? supply.addedAt|date('d/m/y') }}</td>
                </tr>
            {% endfor %}

            {% include 'layout/modal/_modal_add_supply.html.twig' %}

            </tbody>
        </table>

        <div class="pagination disable">
            {{ knp_pagination_render(supplies) }}
        </div>

    </div>

    {{ encore_entry_script_tags('spinner') }}
    {{ encore_entry_script_tags('filter') }}
    {{ encore_entry_script_tags('select') }}

{% endblock %}