{% extends 'base.html.twig' %}

{% block title %}Supply{% endblock %}

{% block body %}
    <h1>Supply</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ supply.id }}</td>
            </tr>
            <tr>
                <th>Name</th>
                <td>{{ supply.name }}</td>
            </tr>
            <tr>
                <th>Reference</th>
                <td>{{ supply.reference }}</td>
            </tr>
            <tr>
                <th>Quantity</th>
                <td>{{ supply.quantity }}</td>
            </tr>
            <tr>
                <th>AddedAt</th>
                <td>{{ supply.addedAt ? supply.addedAt|date('Y-m-d H:i:s') : '' }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('supply') }}">back to list</a>

    <a href="{{ path('edit_supply', {'id': supply.id}) }}">edit</a>

    {{ include('supply/_delete_form.html.twig') }}
{% endblock %}
