<div class="container mt-5">
    <h2 class="pb-4 text-start font-bold font-up deep-purple-text">📦 STOCK</h2>
    <div>
        <table class="table border border-1 shadow-sm">
            <thead style="background-color: lightgray;">
            <tr>
                <th class="text-center"></th>
                <th>Marque</th>
                <th>Désignation</th>
                <th>Référence</th>
                <th>Numéro de série</th>
                <th>Entrée en stock</th>
                <th class="text-center">Quantité</th>
            </tr>
            </thead>
            {% for product in products %}
                <tbody>
                {% if product.quantity < 5 %}
                    <tr>
                        <td class="text-center">
                            <i class="fa-solid fa-circle-exclamation" style="color: #ff0000;"></i>
                        </td>
                        <td>{{ product.brand|title }}</td>
                        <td>{{ product.name|title }}</td>
                        <td>{{ product.reference }}</td>
                        <td>{{ product.serialNumber }}</td>
                        <td>{{ product.addedAt ? product.addedAt|date('Y-m-d') }}</td>
                        <td class="text-end">{{ product.quantity }},00</td>
                    </tr>
                {% endif %}
                </tbody>
            {% endfor %}
        </table>
    </div>
</div>