<div class="m-4">
    <ul class="nav nav-tabs">
        <li class="nav-item">
            <a class="nav-link text-black fs-5" href="{{ path('home') }}">Accueil</a>
        </li>
        <li class="nav-item">
            <a class="nav-link text-black fs-5" href="{{ path('product') }}">Stock</a>
        </li>
        <li class="nav-item">
            <a class="nav-link text-black fs-5" href="{{ path('productSerialized') }}">Produits Sérialisés</a>
        </li>
        <li class="nav-item">
            <a class="nav-link text-black fs-5" href="{{ path('out_of_stock') }}">Hors-Stock</a>
        </li>
        <li class="nav-item">
            <a class="nav-link text-black fs-5" href="{{ path('supply') }}">Fournitures</a>
        </li>
    </ul>
</div>

{{ encore_entry_script_tags('tabs') }}
